$padding-inline: 2rem;
$content-max-width: 70ch; //might be a px
$breakout-max-width: 85ch; //might be a px
$breakout-size: calc(($breakout-max-width - $content-max-width) / 2);

.content-grid {
	display: grid;
	grid-template-columns:
	[full-width-start] minmax($padding-inline, 1fr)
	[breakout-start] minmax(0, $breakout-size)
	[content-start] min(100% - ($padding-inline * 2), $content-max-width) [content-end]
	minmax(0, $breakout-size) [breakout-end]
	minmax($padding-inline, 1fr) [full-width-end]
};

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}